{
    "db_path": "proxy_pool.sqlite3",
    "export_file": "result.txt",
    "subscription_urls": [...],
    "tester": {
        "speed_test": {
            "url": "http://cachefly.cachefly.net/10mb.test",
            "worker_count": 5,
            "worker_tasks_count": 5,
            "speed_threshold": 1.0,
            "timeout": "10s"
        },
        "url_test": {
            "url": "https://www.gstatic.com/generate_204",
            "worker_count": 5,
            "worker_tasks_count": 10,
            "timeout": "2s"
        },
        "target_final_count": 50,
        "test_attempts": 3,
        "dead_ttl_days": 30
    },
    "filter": {
        "geoip": {
            "path": "geoip/GeoLite2-City.mmdb",
            "method": "exclude",
            "countries": [
                "RU"
            ]
        },
        "cidr": {
            "path": "cidrwhitelist.txt",
            "method": "include",
            "dns_nameservers_pool": [
                [
                    "1.1.1.1",
                    "1.0.0.1"
                ],
                [
                    "8.8.8.8",
                    "8.8.4.4"
                ]
            ],
            "dns_cache_ttl": 300
        }
    }
}